.Filter {
  cursor: default;
}
.Logo, .registerButton, .loginButton, .profileIcon, .Category, .checkbox {
  cursor: pointer;
}

.App {
  display:flex;
  flex-direction: column;
}

.Header {
  background: rgb(55, 136, 129);
  color: #fff;
  font-size: 1.2em;
  padding: 12px 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.Logo{
  margin-right: auto;
  margin-left: 20px;
}

.searchBar {
  background: #f5f5f5;
  padding: 7px 16px;
  min-width: 30%;
  border-radius: 40px;
  margin-left:auto;
  margin-right: 30px;
}

.accountButtons{
  display: flex;
  flex-direction: row;
}

.profileIcon {
  height: 32px;
  border-radius: 40px;
  margin-right: 15px;
}

.registerButton, .loginButton {
  padding: 4px 15px 0px;
  font-size: 16px;
}

.registerButton {
  background-color: white;
  border-radius: 5px;
  color: rgb(55, 136, 129);
}

.HomePage{
  display: flex;
  flex-direction: row;
}




.filterBox{
  float: left;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Filter, .Category{
  padding-left: 30px;
  margin: 20px 0px;
}

.checkbox {
  margin-left: 5px;
}

.FilterGroup, .CategoryGroup{
  margin-left: 30px;
  margin-top: 20px;
}

.cardBox {
  display: flex;
  position:absolute;
  right:0;
  max-width: 1000px;
  height: 1000px;
  flex-wrap: wrap;
  background: #ddd;
  justify-content: center;
  padding-bottom: 60px;
  overflow:scroll;
}

.Card {
  height: 200px;
  min-width: 200px;
  padding: 30px 14px;
}

.cardImg{
  border-radius: 10px;
}

.cardAuthorName {
  color: #464646;
  padding-bottom: 2px;
}

.cardEffectName {
  font-size: 22px;
}

.cardText {
  display: flex;
  align-items: center;
}

.cardRatingTotal, .cardDownloadText {
  color: #464646;
}

.cardDotImg {
  /*top right bottom left*/
  /*top right/left bottom*/
  padding: 4px 6px 0px;

}

