.Header {
  background: rgb(55, 136, 129);
  color: #fff;
  font-size: 1.2em;
  padding: 12px 40px;
}

.cardBox {
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
  background: #ddd;
  justify-content: center;
}

.Card {
  height: 200px;
  min-width: 200px;
  margin: 20px;
  background: #aaa;
}
